﻿<!DOCTYPE html>
<html>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đại Dương HRM</title>
    <!--ĐÂY LÀ GIAO DIEN DUA TREN GIAO DIEN gentelella-master-->
    <!-- Bootstrap and Dai Duong theme-->
    @Styles.Render("~/Content/css")
    <!-- Font Awesome -->
    @Styles.Render("~/vendors/fontawesome/css")    
    @RenderSection("styles", false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-ship"></i> <span>Đại Dương HRM</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Dữ liệu</h3>
                            <ul class="nav side-menu">
                                <li><a href="plain_page.html"><i class="fa fa-home"></i> Trang chủ </a></li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Danh mục <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>@Html.ActionLink("Phòng ban (dạng thường)", "Index", "PhongBans")</li>
                                        <li>@Html.ActionLink("Đơn vị (dạng cây)", "Index", "jsTree")</li>
                                        <li>@Html.ActionLink("Công việc", "Index", "Dic_Job")</li>
                                        <li>@Html.ActionLink("Quốc tịch", "Index", "Dic_Nationality")</li>
                                        <li>@Html.ActionLink("Dân tộc", "Index", "Dic_Ethnic")</li>
                                        <li>@Html.ActionLink("Tôn giáo", "Index", "Dic_Religion")</li>
                                        <li>@Html.ActionLink("Quan hệ gia đình", "Index", "Dic_Relative")</li>
                                        <li>@Html.ActionLink("Học vấn", "Index", "Dic_Education")</li>
                                        <li>@Html.ActionLink("Ngoại ngữ", "Index", "Dic_Language")</li>
                                        <li>@Html.ActionLink("Tin học", "Index", "Dic_Informatic")</li>
                                        <li>@Html.ActionLink("Kỹ năng", "Index", "Dic_Skill")</li>
                                        <li>@Html.ActionLink("Bệnh viện khám chữa bệnh", "Index", "Dic_Hospital")</li>
                                        <li>@Html.ActionLink("Tỉnh thành", "Index", "Dic_Province")</li>
                                        <li>@Html.ActionLink("Trường đã học", "Index", "Dic_School")</li>
                                        <li>@Html.ActionLink("Lương tối thiểu vùng", "Index", "Dic_MinimumSalary")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Quản lý nhân viên <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>@Html.ActionLink("Danh sách Nhân viên", "Index", "NhanViens")</li>
                                        <li>@Html.ActionLink("Danh sách Nhân viên (modal)", "Index", "NhanViensModal")</li>
                                        <li>@Html.ActionLink("Danh sách Ứng viên", "Index", "HRM_Candidate")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-calendar-check-o"></i>Chấm công<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>@Html.ActionLink("Ký hiệu chấm công", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Danh sách thiết bị chấm công", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Danh sách Ca làm việc", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Ngày nghỉ ngày lễ", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Bảng xếp ca", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Bảng chấm công tháng", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Tổng hợp ngày công", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-area-chart"></i>Báo cáo thống kê<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>@Html.ActionLink("Danh sách Nhân viên", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Hồ sơ quá trình công tác", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Thời gian nghỉ phép trong năm", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Số tháng làm việc trong năm", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Quyết định điều động", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Danh mục hồ sơ theo thời gian", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Báo cáo lao động", "Index", "Home")</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Hệ thống</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-users"></i> Quản lý người dùng <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                            <a href="login.html">Quản lý người dùng</a>
                                        </li>
                                        <li>
                                            <a href="#">Phân quyền</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user" style="font-size:18px; width:26px;"></i>Quốc Sỹ
                                        <span class="fa fa-angle-down"></span>
</a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        <a href="javascript:;">  Đổi mật khẩu</a>
                                    </li>
                                    <li>
                                        <a href="login.html"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    @RenderSection("tieude", required: false)
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <!-- content starts here -->
                                    @RenderBody()
                                    <!-- content ends here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div style="text-align: center">
                    Chương trình Quản lý nhân sự công ty đóng tàu Đại Dương
                    <br />
                    Copyright ©2016 by Đại Dương
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap -->
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Custom Theme Scripts -->
    <script src="@Url.Content("~/Scripts/dai_duong_custom.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
