﻿@model FirstWebApp.Models.NhanVien

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa nhân viên này?</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaysinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaysinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thuongtru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thuongtru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayvaolam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayvaolam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cmnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cmnd)
        </dd>

    </dl>
</div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }

