﻿@model FirstWebApp.Models.NhanVien

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Sửa thông tin nhân viên</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   <div class="modal-body">
       <div class="form-horizontal">
           @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           @Html.HiddenFor(model => model.Id)

           <div class="form-group">
               @Html.LabelFor(model => model.hoten, htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                   @Html.EditorFor(model => model.hoten, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.hoten, "", new { @class = "text-danger" })
               </div>
           </div>

           <div class="form-group">
               @Html.LabelFor(model => model.ngaysinh, htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                   @Html.EditorFor(model => model.ngaysinh, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.ngaysinh, "", new { @class = "text-danger" })
               </div>
           </div>

           <div class="form-group">
               @Html.LabelFor(model => model.thuongtru, htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                   @Html.EditorFor(model => model.thuongtru, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.thuongtru, "", new { @class = "text-danger" })
               </div>
           </div>

           <div class="form-group">
               @Html.LabelFor(model => model.ngayvaolam, htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                   @Html.EditorFor(model => model.ngayvaolam, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.ngayvaolam, "", new { @class = "text-danger" })
               </div>
           </div>

           <div class="form-group">
               @Html.LabelFor(model => model.cmnd, htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                   @Html.EditorFor(model => model.cmnd, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.cmnd, "", new { @class = "text-danger" })
               </div>
           </div>           
       </div>
   </div>
    <div class="modal-footer">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

