﻿@model IEnumerable<FirstWebApp.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section tieude{
    <text>Danh sách nhân viên</text>
}
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<p>
    <a data-modal href="@Url.Action("Create", "NhanViensModal")" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
</p>
<table class="table table-striped table-bordered table-hover" id="dsNhanVien">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cmnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thuongtru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayvaolam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.hoten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngaysinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cmnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thuongtru)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngayvaolam)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "NhanViensModal", new { id=item.Id })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "NhanViensModal", new { id=item.Id })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/modalform")

    <script language="javascript">
        $(document).ready(function () {
            var t = $('#dsNhanVien').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 6
                },
                ],
                "order": [[1, 'asc']]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
        $('#dsNhanVien tr').dblclick(function () {
            var id = $(this).attr('id');
            id = id.replace('DIC_POSITION_', '');
            var url = '@Url.Action("Details", "DIC_POSITIONModal", new { id = "js-id", data_modal="" })'
              .replace("js-id", encodeURIComponent(id));
            $.get(url, function (data) {
                $('#myModalContent').html(data);
                $('#myModal').modal('show');
            });
        })
    </script>
}



