﻿
@{
    ViewBag.Title = "Index of jsTree";
    var doJsTreeOperationUrl = Url.Action(actionName: "DoJsTreeOperation", controllerName: "jsTree");
    var getTreeJsonUrl = Url.Action(actionName: "GetTreeData", controllerName: "jsTree");
}
@section styles{
    @Styles.Render("~/vendors/jsTree/css")
}
@section tieude{
    <text>Danh sách đơn vị</text>
}
<div id="jstree"></div>
@section scripts{
    @Scripts.Render("~/vendors/jsTree/js")
    <script type="text/javascript">
        function postJsTreeOperation(operation, data, onDone, onFail) {
            $.post('@doJsTreeOperationUrl',
                {
                    'operation': operation,
                    'id': data.node.id,
                    'parentID': data.node.parent,
                    'text': data.node.text,
                    'originalId': data.original ? data.original.id : data.node.original.id
                })
                .done(function (result) {
                    if (result.KetQua == true) {
                        onDone();
                    }
                    else {
                        alert(result.ThongBao);
                        onFail();
                    }                    
                })
                .fail(function (result) {
                    alert('Thao tác không thành công!');
                    onFail();
                });
        }

        $(function () {
            var selectedData;

            $('#jstree').jstree({
                "core": {
                    check_callback: function (op, node, par, pos, more) {
                        if (op === "delete_node") { return confirm("Bạn có chắc muốn xóa đơn vị này:? " + node.text); }
                    },
                    'data': {
                        'url': '@getTreeJsonUrl',
                        "type": "POST",
                        "dataType": "json",
                        "contentType": "application/json; charset=utf8",
                        'data': function (node) {
                            return { 'id': node.id };
                        }
                    }
                },                
                "plugins": ["contextmenu", "dnd", "state", "types"],
                "contextmenu": {
                    "items": function (o, cb) {
                        var items = $.jstree.defaults.contextmenu.items();
                        items["create"].label = "Thêm mới";
                        items["rename"].label = "Đổi tên";
                        items["remove"].label = "Xóa";
                        var cpp = items["ccp"];
                        cpp.label = "Di chuyển";
                        var subMenu = cpp["submenu"];
                        subMenu["copy"].label = "Copy";
                        subMenu["paste"].label = "Paste";
                        subMenu["cut"].label = "Cut";
                        return items;
                    }
                }
            })
                .on('delete_node.jstree', function (e, data) {
                    postJsTreeOperation('DeleteNode', data,
                        function (result) {
                            $("#txtTitle").val('');
                            $("#txtUrl").val('');
                        },
                        function (result) {
                            data.instance.refresh();
                        });
                })
                .on('create_node.jstree', function (e, data) {
                    postJsTreeOperation('CreateNode', data,
                        function (result) {
                            data.instance.set_id(data.node, result.id);
                        },
                        function (result) {
                            data.instance.refresh();
                        });
                })
                .on('rename_node.jstree', function (e, data) {
                    postJsTreeOperation('RenameNode', data,
                        function (result) {                            
                        },
                        function (result) {
                            data.instance.refresh();
                        });
                })
                .on('move_node.jstree', function (e, data) {
                    postJsTreeOperation('MoveNode', data,
                        function (result) {
                        },
                        function (result) {
                            data.instance.refresh();
                        });
                })
                .on('copy_node.jstree', function (e, data) {
                    postJsTreeOperation('CopyNode', data,
                        function (result) {
                            data.instance.set_id(data.node, result.id);
                        },
                        function (result) {
                            data.instance.refresh();
                        });
                })
                .on('changed.jstree', function (e, data) {

                })
                .on('dblclick.jstree', function (e) {
                    var href = selectedData.node.a_attr.href;
                    alert('selected node: ' + selectedData.node.text + ', href:' + href);

                    // auto redirect
                    if (href) {
                        window.location = href;
                    }

                    // activate edit mode
                    //var inst = $.jstree.reference(selectedData.node);
                    //inst.edit(selectedData.node);
                });               
                
        });
</script>
}


